				</div>
			</section>
			<nav id="authNav">
				<div class="row">
					<div class="col-12 text-center">
						<a class="btn btn-light icon-link icon-link-hover shadow py-2" href="/forside">
							<svg class="bi" aria-hidden="true"><use xlink:href="#bootstrapIcon-arrow-left"/></svg>
							Tilbage til forsiden
						</a>
					</div>
				</div>
			</nav>
		</div>

	</main><% /* closing main tag */ %>
</div><% /* closing contentWrapper */ %>
<%- include('../../../shared/includes/all/foot-all') %>