<div id="comingSoonWrapper" class="d-flex flex-column flex-fill">
	<div id="comingSoonTop" class="d-flex flex-column">
		<div id="" class="d-flex justify-content-end">
			<svg id="newPromptBtn_Arrow" class="bi" aria-hidden="true"><use xlink:href="#bootstrapIcon-arrow-up-left"/></svg>
		</div>
		<div class="d-flex justify-content-end">
			<p class="lead me-3">Du kan prøve at tilføje en prompt ved at trykke på den blå knap</p>
		</div>
	</div>
	<div id="comingSoonCenter" class="text-center<%= 0 ? ' mt-auto mb-auto' : '' %>">
		<h1 class="display-5 my-5 mx-3"><%= locals.header %></h1>
		<h2 class="display-6 my-5 mx-3">Denne side er under opbygning</h1>
	</div>
</div>