			</div><% /* closing #contentBodyInside */ %>
		</main><% /* closing main tag (#contentBody) */ %>
	</div><% /* closing #contentWrapper */ %>
</div><% /* closing #headerAndContentWrapper */ %>
<%- include('../../../shared/includes/all/foot-all') %><% /* indlæser: popper.js, bootstrap.js, closing </body>, closing </html> */ %>